<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css"
      media="screen"
      charset="utf-8"/>

<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>

<!--
<link rel="stylesheet/less" href="/css/bootstrap/lib/bootstrap.less" media="all" />
<script type="text/javascript" src="/js/less-1.1.3.min.js"></script>
-->

<script type="text/javascript" src="/js/bootstrap/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap-alerts.js"></script>

<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/ajaxcall.js"></script>