{% load i18n %}
{% load short_uri %}
{% load humanize %}
<div class="span1">
    <a href="{{log.user|url}}">{% gravatar log.user.email log.user.name %}</a>
</div>
<div class="span8">
    <div class="row rowmargin">
        <div class="span8">
            <span><img class="actbtn" src="/img/act_{{log.cmd}}.gif"/></span>
            <strong><a class="username" href="{{log.user|url}}">{{ log.user }}</a></strong>
            <span class="actiontext">{{ log.act_text }}</span>
            <strong>on</strong>
            <a href="{{log.project|url}}">{{ log.project }}</a>
            <strong>at</strong>
            <em>{{ log.ctime }}</em>
        </div>
    </div>
    <div class="row rowmargin">
        <div class="span8">
            {% if log.issue %}
                <a href="{{log.project|url}}issue/{{log.issue.id}}">#{{ log.issue.id }} {{ log.issue.title }}</a>
            {% endif %}
            {% if log.comment %}
                <a href="{{log.project|url}}issue/{{log.comment.issue.id}}#comment-{{log.comment.id}}">#{{ log.coWmment.issue.id }} {{ log.comment.issue.title }}</a>
            {% endif %}
            {% if log.commit %}
                <a href="{{log.project|url}}log/{{log.commit.rev}}/">r{{ log.commit.rev }}</a>
                <span>{{ log.commit.msg }}</span>
            {% endif %}
        </div>
    </div>
</div>